.blog-head-background {
    background-color: #c7f5fe;
}

.blog-container {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    height: 220px;
    border-radius: 5%;
    overflow: visible;
}

.my-blog-background {
    background-color: lightgrey;
}

.blog-head {
    background-color: #c7f5fe;
}

.new-post {
    background-color: white;
    width: 66%;
    margin: 10px auto;
    padding: 10px;
    height: 300px;
    border-radius: 5%;
    min-height: fit-content;
}

.close-btn {
    font-size: 20px;
    width: fit-content;
    border-radius: 5px;
}

.close-btn:hover {
    cursor: pointer;
    background-color: #c7f5fe;
    color: white;
}

input {
    height: 30px;
}

form {
    min-height: fit-content;
}

html {
    font-family: Times;
}

.logout-btn {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.logout-btn:hover {
    background-color: wheat;
}

.logout-btn:active {
    background-color: #c7f5fe;
}

html, body {
    margin: 0;
    padding: 0;
}

.wall-btn {
    background-color: darkcyan;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.wall-btn:hover {
    background-color: lightgray;
    color: black;
}

