.blog-body-background {
    background-color: lightgrey;
}

.blog-head-background {
    background-color: #c7f5fe;
}

.blog-post-container {
    background-color: white;
    width: 66%;
    margin: 10px auto;
    padding: 10px;
    height: 300px;
    border-radius: 5%;
}

.blog-post-container {
    background-color: white;
    width: 66%;
    margin: 10px auto;
    padding: 10px;
    height: 300px;
    border-radius: 5%;
}

.blog-container {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    height: 220px;
    border-radius: 5%;
    overflow: visible;
}

.blog-container-btn {
    width: 100%;
    height: 30px;
}

.blog-body-background {
    background-color: lightgrey;
}

.new-post-btn {
    width: 100%;
    height: 30px;
}

.usr-post {
    display: block;
    margin: 5px auto 10px auto;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5%
}