.blog-head-background {
    background-color: #c7f5fe;
}

.blog-container {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    height: 220px;
    border-radius: 5%;
    overflow: visible;
}

.my-blog-background {
    background-color: lightgrey;
}

.new-post-head {
    background-color: #c7f5fe;
}

.new-post {
    background-color: white;
    width: 66%;
    margin: 10px auto;
    padding: 10px;
    height: 300px;
    border-radius: 5%;
}

input {
    height: 30px;
}